body {
    background: rgb(5, 116, 97);
    font-size: 20px;
}

li {
    list-style: none ;
    border: 1px solid gold;
    width: max-content;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

a.active {
    background: gold;
}

li:hover {
    background: orange;
}